
.product-content{
    flex-wrap:wrap;
    gap: 2em;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
z-index:1;
position: relative;
background-color:rgb(223, 237, 250);
padding: 2em;

}

